{% extends "states/texas/base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-auto">
            <h1>All Candidates</h1>
        </div>
        {% if current_user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ url_for('texas.new', type='candidate') }}">Add Candidate</a>
            </div>
        {% endif %}
    </div>
    <br>
    {% for candidate in candidates_list %}
        <a href="{{ url_for('texas.candidate', id=candidate.public_id) }}" class="card my-1">
            <div class="card-body">
                <h5 class="card-title">{{ candidate.name }}</h5>
                <div class="row">
                    <div class="col">
                        Seeking office: {{ candidate.get_office_sought().name }}
                    </div>
                    <div class="col">
                        Current Office: {{ candidate.get_office_held().name }}
                    </div>
                    <div class="col">
                        Political Party: {{ candidate.get_party().name }}
                    </div>
                    <div class="col">
                        City: {{ candidate.city }}
                    </div>
                    <div class="col">
                        State: {{ candidate.state }}
                    </div>
                    <div class="col">
                        Employer/Company: {{ candidate.employer }}
                    </div>
                    <div class="col">
                        Registration Date: {{ candidate.registration_date }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Contributions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Contributions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}