{% extends "states/texas/base.html" %}

{% block app_content %}
    <div class="row">
        <h5>Contributor Name: {{ contributor.name }}</h5>
    </div>
    <div class="row">
        Contributor Type: {{ contributor.type }}
    </div>
    <div class="row">
        PAC ID: {{ contributor.pac_id }}
    </div>
    <div class="row">
        Political Party: <a href="{{ url_for('texas.party', id=contributor.get_party().public_id) }}" class="card">{{ contributor.get_party().name }}</a>
    </div>
    <div class="row">
        Street Address: {{ contributor.street_address }}
    </div>
    <div class="row">
        City: {{ contributor.city }}
    </div>
    <div class="row">
        State: {{ contributor.state }}
    </div>
    <div class="row">
        Zip Code: {{ contributor.zip_code }}
    </div>
    <div class="row">
        Phone Number: {{ contributor.phone_number }}
    </div>
    <div class="row">
        Occupation/Title: {{ contributor.occupation }}
    </div>
    <div class="row">
        Employer/Company: {{ contributor.employer }}
    </div>
    <div class="row">
        Industry: {{ contributor.industry }}
    </div>
    <div class="row">
        Info: {{ contributor.info }}
    </div>
    <br>
    <div class="row">
        <div class="col-auto">
            <h3>Given Contributions</h3>
            <br>
            {% for contribution in contributions %}
                <div class="row">
                    <a href="{{ url_for('texas.contribution', id=contribution.public_id) }}">
                        To: {{ contribution.get_candidate().name }} | Amount: ${{ contribution.amount }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}