{% extends "states/texas/base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-auto">
            <h1>All Governments</h1>
        </div>
        {% if current_user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ url_for('texas.new', type='government') }}">Add Government</a>
            </div>
        {% endif %}
    </div>
    <br>
    {% for government in governments_list %}
        <a href="{{ url_for('texas.government', id=government.public_id) }}" class="card my-1">
            <div class="card-body">
                <h5 class="card-title">{{ government.name }}</h5>
                <div class="row">
                    <div class="col">
                        Goverment Type: {{ government.government_type }}
                    </div>
                    <div class="col">
                        Seat of Government: {{ government.seat }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Contributions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Contributions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}