{% extends "states/texas/base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-auto">
            <h1>All Parties</h1>
        </div>
        {% if current_user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ url_for('texas.new', type='party') }}">Add Party</a>
            </div>
        {% endif %}
    </div>
    <br>
    {% for party in parties_list %}
        <a href="{{ url_for('texas.party', id=party.public_id) }}" class="card my-1">
            <div class="card-body">
                <h5 class="card-title">{{ party.name }}</h5>
                <div class="row">
                    <div class="col">
                        City: {{ party.city }}
                    </div>
                    <div class="col">
                        State: {{ party.state }}
                    </div>
                    <div class="col">
                        Point of Contact: {{ party.point_of_contact }}
                    </div>
                    <div class="col">
                        Committee ID: {{ party.committee_id }}
                    </div>
                    <div class="col">
                        Date Added: {{ party.date_added }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Contributions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Contributions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}