{% extends "states/texas/base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-auto">
            <h1>All Sources</h1>
        </div>
        {% if current_user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-primary" href="{{ url_for('texas.new', type='source') }}">Add Source</a>
            </div>
        {% endif %}
    </div>
    <br>
    {% for source in sources_list %}
        <a href="{{ url_for('texas.source', id=source.public_id) }}" class="card my-1">
            <div class="card-body">
                <h3 class="card-title">{{ source.name }}</h3>
                <div class="row">
                    <div class="col">
                        Info: {{ source.info }}
                    </div>
                    <div class="col">
                        Date Added: {{ source.date_added }}
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Contributions
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Contributions <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}