{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - PowerTracker{% else %}{{ 'Welcome to PowerTracker' }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">PowerTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    States
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('texas.index') }}">Texas</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('auth.login') }}">{{ 'Login' }}</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.settings') }}">Settings</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ 'Logout' }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}